node_modules
.next
out
.env
.env.local
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
data/store.json
data/portal.db
data/portal.db-journal
data/portal.db-wal
data/portal.db-shm
data/logos/
